<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>home}}
<h1>  This  code is belongs to hbs for dynamic changes in our webside This is the change the content </h1>
{{>header}}
</body>
</html>